<?	wrapper 'flavour/j_mobile/includes/page.tt';
	c.stash.page_title = "Sentences";
	c.stash.title = "Find sentences - " _ c.config.site_name;
	
	process "flavour/j_mobile/sentences/form.tt";
?>

<? end ?>